html,
body {
  height: 100%;
  margin: 0px;
  padding: 0%;
  font-family: "DM Sans", sans-serif;
}
.main-container {
  /* background-color: aqua; */
}
.navbar-container {
  background-color: #6f6af7;
  height: 10%;
  display: flex;
  align-items: center;
  padding: 0px 20px;
  position: sticky;
  top: 0px;
}
.main-container-2 {
  display: flex;
}
.content-container {
  /* background-color: green; */
  padding: 0px 0px 40px 0px;
}
.content-box-1 {
  /* background-color: olivedrab; */
  display: flex;
  padding: 50px 40px;
  align-items: center;
}
.image-1-logo {
  height: 270px;
}
.content-box-2 {
  /* background-color: violet; */
  /* height: 20%; */
  display: flex;
  gap: 10px;
  justify-content: space-around;
  padding: 50px 40px;
  margin: 0px 0px 50px 0px;
}
.content-box-3 {
  background-color: #483eff;
  /* height: 40%; */
  display: flex;
  padding: 10px;
  margin: 0px 40px;
  border-radius: 10px;
}
.website-name-box {
  /* background-color: peachpuff; */
  height: 100%;
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-box {
  /* background-color: gray; */
  height: 100%;
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  font-weight: 400;
}
.hamburger-icon-box {
  /* background-color: orange; */
  height: 100%;
  width: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dappr-logo {
  width: 100px;
}
.hamburger-logo {
  width: 40px;
}
.search-input {
  height: 32px;
  border-radius: 30px;
  border: none;
  outline: none;
  padding: 0px 10px;
}
.card-1 {
  background-color: #e5d8ff;
  display: flex;
  border-radius: 30px;
  padding: 10px;
  height: 223px;
  margin: 24px;
  -webkit-box-shadow: 0px 0px 13px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 13px -3px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 13px -3px rgba(0, 0, 0, 0.75);
}
.total-questions-card {
  background-color: #929dff;
  color: white;
  width: 20%;
  height: 60%;
  padding: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 13px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 13px -3px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 13px -3px rgba(0, 0, 0, 0.75);
}
.total-answers-card {
  background-color: #734cf2;
  color: white;
  width: 20%;
  height: 60%;
  padding: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 13px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 13px -3px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 13px -3px rgba(0, 0, 0, 0.75);
}
.participated-card {
  background-color: #d288ff;
  color: white;
  width: 20%;
  height: 60%;
  padding: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 13px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 13px -3px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 13px -3px rgba(0, 0, 0, 0.75);
}
.total-passed-card {
  background-color: #000000;
  width: 20%;
  height: 60%;
  color: white;
  padding: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 13px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 13px -3px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 13px -3px rgba(0, 0, 0, 0.75);
}
.your-info-menu-box {
  width: 30%;
  margin: 10px;
  display: flex;
  flex-direction: column;
  /* display: flex;
  justify-content: space-between;
  padding: 20px; */
}
.your-info-card {
  background-color: #bce0f6;
  border-radius: 10px;
  margin: 20px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 30%; */
}
.bookmarks-card {
  background-color: #483eff;
  color: #ffffff;
  border-radius: 10px;
  border: 3px solid #ffffff;
  margin: 20px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 30%; */
}
.settings-card {
  background-color: #483eff;
  color: #ffffff;
  border-radius: 10px;
  border: 3px solid #ffffff;
  margin: 20px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 30%; */
}
.student-details-card {
  background-color: white;
  color: #04285a;
  width: 70%;
  margin: 10px;
  border-radius: 10px;
  padding: 30px;
}
.card-content-title {
  margin: 0px 0px 10px 0px;
}
.card-content-value {
  margin: 0px;
}
.your-information {
  font-family: "Inter";
}
.detail-row {
  font-family: "Roboto";
  margin: 0px 0px 0px 20px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.label {
  font-size: 15px;
}
.value {
  font-size: 12px;
}
.button-container {
  display: flex;
  justify-content: end;
}
.next-button {
  background-color: #000000;
  color: white;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  width: 80px;
  height: 30px;
  border-radius: 5px;
}
.arrow-logo {
  width: 15px;
}
.root {
  navbar-height: 0px;
}
.social-icons-container {
  position: relative;
}
.social-icons-box {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 70px;
  margin-top: 130px;
}
.social-icons {
  width: 50px;
}
.chatbot-icon {
  position: fixed;
  height: 80px;
  bottom: -13px;
  right: 10%;
}
.search-icon-logo {
  position: absolute;
  right: 150px;
  width: 17px;
}
